extends ../template

block content
    p.about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laboriosam consequatur fugit optio vitae illo, blanditiis sit commodi repudiandae, enim numquam aliquam ullam, reiciendis eos voluptate cum natus ex dicta?
    p.about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laboriosam consequatur fugit optio vitae illo, blanditiis sit commodi repudiandae, enim numquam aliquam ullam, reiciendis eos voluptate cum natus ex dicta?
