extends ../template

block content
    h2.title Mr. Febrian Zakaria
    div 
        img.foto(src="https://images.unsplash.com/photo-1581299894007-aaa50297cf16?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80", alt="")